{{define "navbar"}}
<div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary navbar-ui">
  <div class="container">
    <a class="navbar-brand" href="/">GitMe</a>
  </div>
</div>
<style>
</style>
{{end}}